* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(./images/dust_scratches.png);
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden
}

@media screen and (min-width: 280px) {

  /* NAVBAR */

  #navbar {
    background-color: #0187FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 999;
  }

  .logo {
    color: white;
    font-size: 12px;
    cursor: pointer;
  }

  .menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #0187FF;
    padding: 20px;
    right: 0;
    top: 64px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .menu-list li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .menu-list li a:hover {
    background-color: white;
    border-radius: 5px;
    color: #0187FF;
    transition: all 0.2s ease-in-out;
  }

  .menu-list li:last-child {
    margin-bottom: 0;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100%;
    display: block;
    margin: auto;
  }

  .burger-menu i {
    color: white;
    display: block;
    cursor: pointer;
  }

  .burger-menu .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .burger-menu .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }

  .menu-list.closed {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }

  /* SECTIONS */

  .home-art,
  .home-clothing,
  .home-home,
  .home-jewellery,
  .home-toys {
    height: 80vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* ITEMS */

  #art {
    padding: 10px;
  }

  .item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .item-div {
    display: block;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 30px 15px 30px;
    background-color: #ecebeb;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .item-img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .item-title {
    font-size: 16px;
  }

  .item-description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .add-to-cart-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  /* HOME - ART */

  .home-art {
    max-height: 30vh;
    opacity: 30%;
    background-image: url('https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/wide-open-ocean-art-by-linda-woods-linda-woods.jpg');
    background-position: center;
    background-size: 100vw;
  }

  .home-art:hover {
    opacity: 100%;
    transition: all 0.5s;
    cursor: pointer;
  }


  /* HOME - CLOTHING */

  .home-clothing {
    max-height: 30vh;
    opacity: 30%;
    background-image: url('https://cdn.makespace.com/blog/wp-content/uploads/2016/10/20165515/how-to-organize-your-closet1-1600x715.jpg');
    background-position: center;
    background-size: 100vw;
  }

  .home-clothing:hover {
    opacity: 100%;
    transition: all 0.5s;
    cursor: pointer;
  }


  /* HOME - HOME */

  .home-home {
    max-height: 30vh;
    opacity: 30%;
    background-image: url('https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1535977485/p/photo/image/2700198/minimalist-living-room.jpg');
    background-position: center;
    background-size: 100vw;
  }

  .home-home:hover {
    opacity: 100%;
    transition: all 0.5s;
    cursor: pointer;
  }


  /* HOME - JEWELLERY */

  .home-jewellery {
    max-height: 30vh;
    opacity: 30%;
    background-image: url('https://cdn.shopify.com/s/files/1/0642/2855/files/bass-jewellery-banner-3_8a9e8533-c8a0-4985-9a27-81a00162df40_1400x.progressive.jpg?v=1572837021');
    background-position: center;
    background-size: 100vw;
  }

  .home-jewellery:hover {
    opacity: 100%;
    transition: all 0.5s;
    cursor: pointer;
  }


  /* HOME - TOYS */

  .home-toys {
    max-height: 30vh;
    opacity: 30%;
    background-image: url('https://img-st.xyz/mshp/wh20210223185823999/20210225/a23464a5cc2046469be9155e0968d7d8.jpg');
    background-position: center;
    background-size: 100vw;
  }

  .home-toys:hover {
    opacity: 100%;
    transition: all 0.5s;
    cursor: pointer;
  }

  /* ITEM SCREEN */

  #item-screen {
    display: flex;
    flex-direction: column;
  }

  .item-img img {
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }

  .item-details {
    padding: 0 20px;
  }

  .item-title {
    font-size: 32px;
    font-weight: 700;
  }

  .item-description {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .item-price {
    padding: 0 20px;
  }


  .buttons {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-to-cart-btn-item {
    background-color: #0187FF;
    border-radius: 4px;
    color: white;
    border: none;
    width: 70%;
    height: 36px;
  }

  .fav-btn-item {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 70px;
    border-radius: 4px;
  }

  .more-pictures-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 20vh;
    width: 90vw;
    margin-top: 20px;
  }

  .more-pictures-pic {
    width: 100px;
    height: 100px;
  }

  .item-price p {
    font-weight: 900;
    font-size: 32px;
  }

  /* CART PAGE */

  .cart-item-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;

  }

  .cart-item-img {
    max-width: 250px;
    max-height: 250px;

  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  .cart-item-price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .cart-number-input-div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .cart-number-input {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  .cart-item-price-total {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }


  .cart-remove-item-btn {
    display: flex;
    align-items: center;
  }

  hr {
    border: 1px solid #333;
    width: 100vw;
    margin-top: 20px;
  }

}



@media screen and (min-width: 768px) {

  #navbar {
    background-color: #0187FF;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 999;
  }

  .logo {
    color: white;
    font-size: 24px;
  }

  .menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #0187FF;
    padding: 20px;
    right: 0;
    top: 64px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .menu-list li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .menu-list li a:hover {
    background-color: white;
    border-radius: 5px;
    color: #0187FF;
    transition: all 0.2s ease-in-out;
  }

  .menu-list li:last-child {
    margin-bottom: 0;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100%;
    display: block;
    margin: auto;
  }

  .burger-menu i {
    color: white;
    display: block;
    cursor: pointer;
  }

  .burger-menu .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .burger-menu .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }

  .menu-list.closed {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }

  /* ITEMS */

  #art {
    padding: 20px;
  }

  .item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-div {
    max-height: 100%;
    max-width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 30px 30px 15px 30px;
    background-color: #ecebeb;
    flex-wrap: wrap;
  }

  .item-img {
    max-height: 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }

  .item-title {
    font-size: 16px;
  }

  .item-description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .add-to-cart-div {
    margin-left: auto;
  }

    /* HOME - ART */

    .home-art {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/wide-open-ocean-art-by-linda-woods-linda-woods.jpg');
      background-position: center;
      background-size: cover;
    }
  
    .home-art:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - CLOTHING */
  
    .home-clothing {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://cdn.makespace.com/blog/wp-content/uploads/2016/10/20165515/how-to-organize-your-closet1-1600x715.jpg');
      background-position: center;
      background-size: cover;
    }
  
    .home-clothing:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - HOME */
  
    .home-home {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1535977485/p/photo/image/2700198/minimalist-living-room.jpg');
      background-position: center;
      background-size: cover;
    }
  
    .home-home:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - JEWELLERY */
  
    .home-jewellery {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://cdn.shopify.com/s/files/1/0642/2855/files/bass-jewellery-banner-3_8a9e8533-c8a0-4985-9a27-81a00162df40_1400x.progressive.jpg?v=1572837021');
      background-position: center;
      background-size: cover;
    }
  
    .home-jewellery:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - TOYS */
  
    .home-toys {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://img-st.xyz/mshp/wh20210223185823999/20210225/a23464a5cc2046469be9155e0968d7d8.jpg');
      background-position: center;
      background-size: cover;
    }
  
    .home-toys:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }

  /* ITEM SCREEN */

  #item-screen {
    display: flex;
    flex-direction: column;
  }

  .item-img img {
    max-height: 50%;
    max-width: 50%;
    padding: 20px;
    margin-bottom: 10px;
  }

  .item-details {
    padding: 0 20px;
  }

  .item-title {
    font-size: 32px;
    font-weight: 700;
  }

  .item-description {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .buttons {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-to-cart-btn-item {
    background-color: #0187FF;
    border-radius: 4px;
    color: white;
    border: none;
    width: 70%;
    height: 36px;
    margin-bottom: 24px;
  }

  .fav-btn-item {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 70px;
    border-radius: 4px;
  }

  .more-pictures-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15vh;
    width: 90vw;
    margin-top: 20px;
  }

  .more-pictures-pic {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }

  .item-price p {
    font-weight: 900;
    font-size: 32px;
  }

  /* CART PAGE */

  .cart-item-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  }

  .cart-item-img {
    max-width: 150px;
    max-height: 150px;
    margin: 20px;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-item-price {
    display: flex;
    align-items: center;
  }

  .cart-number-input-div {
    display: flex;
    align-items: center;
  }

  .cart-number-input {
    width: 40px;
    height: 40px;
  }

  .cart-item-price-total {
    display: flex;
    align-items: center;
  }


  .cart-remove-item-btn {
    display: flex;
    align-items: center;
  }

  hr {
    border: 1px solid #333;
    width: 100vw;
    margin-top: 20px;
  }



}

@media screen and (min-width: 1280px) {

  #navbar {
    background-color: #0187FF;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
  }

  .logo {
    color: white;
    font-size: 18px;
    height: 100%;
  }

  .menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #0187FF;
    padding: 20px;
    right: 0;
    top: 64px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .menu-list li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .menu-list li a:hover {
    background-color: white;
    border-radius: 5px;
    color: #0187FF;
    transition: all 0.2s ease-in-out;
  }

  .menu-list li:last-child {
    margin-bottom: 0;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100%;
    display: block;
    margin: auto;
  }

  .burger-menu i {
    color: white;
    display: none;
    cursor: pointer;
  }

  .burger-menu .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .burger-menu .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }

  .menu-list.closed {
    position: revert;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    transition: all 0.5s ease-in-out;
    padding: 0;
  }

  /* ITEMS */

  #art {
    padding: 20px;
  }

  .item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-div {
    max-height: 100%;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 30px 30px 15px 30px;
    background-color: #ecebeb;
    flex-wrap: wrap;
  }

  .item-img {
    max-height: 70%;
    max-width: 70%;
    margin-bottom: 10px;
  }

  .item-title {
    font-size: 16px;
  }

  .item-description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .add-to-cart-div {
    margin-left: auto;
  }

    /* HOME - ART */

    .home-art {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/wide-open-ocean-art-by-linda-woods-linda-woods.jpg');
      background-position: center;
      background-size: 100vw;
    }
  
    .home-art:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - CLOTHING */
  
    .home-clothing {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://cdn.makespace.com/blog/wp-content/uploads/2016/10/20165515/how-to-organize-your-closet1-1600x715.jpg');
      background-position: center;
      background-size: 100vw;
    }
  
    .home-clothing:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - HOME */
  
    .home-home {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1535977485/p/photo/image/2700198/minimalist-living-room.jpg');
      background-position: center;
      background-size: 100vw;
    }
  
    .home-home:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - JEWELLERY */
  
    .home-jewellery {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://cdn.shopify.com/s/files/1/0642/2855/files/bass-jewellery-banner-3_8a9e8533-c8a0-4985-9a27-81a00162df40_1400x.progressive.jpg?v=1572837021');
      background-position: center;
      background-size: 100vw;
    }
  
    .home-jewellery:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }
  
  
    /* HOME - TOYS */
  
    .home-toys {
      max-height: 45vh;
      opacity: 30%;
      background-image: url('https://img-st.xyz/mshp/wh20210223185823999/20210225/a23464a5cc2046469be9155e0968d7d8.jpg');
      background-position: center;
      background-size: 100vw;
    }
  
    .home-toys:hover {
      opacity: 100%;
      transition: all 0.5s;
      cursor: pointer;
    }

  /* ITEM SCREEN */

  #item-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .item-img img {
    max-height: 50%;
    max-width: 50%;
    padding: 20px;
    margin-bottom: 10px;
  }

  .item-details {
    padding: 0 20px;
    position: relative;

  }

  .item-title {
    font-size: 32px;
    font-weight: 700;
  }

  .item-description {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .buttons {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-to-cart-btn-item {
    background-color: #0187FF;
    border-radius: 4px;
    color: white;
    border: none;
    width: 70%;
    height: 36px;
    margin-bottom: 24px;
  }

  .fav-btn-item {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 70px;
    border-radius: 4px;
  }

  .more-pictures-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
    width: 10vw;
  }

  .more-pictures-pic {
    width: 100px;
    height: 100px;
  }

  .item-price p {
    font-weight: 900;
    font-size: 32px;
  }

  /* CART PAGE */

  .cart-item-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  }

  .cart-item-img {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-item-price {
    display: flex;
    align-items: center;
  }

  .cart-number-input-div {
    display: flex;
    align-items: center;
  }

  .cart-number-input {
    width: 40px;
    height: 40px;
  }

  .cart-item-price-total {
    display: flex;
    align-items: center;
  }


  .cart-remove-item-btn {
    display: flex;
    align-items: center;
  }

  hr {
    border: 1px solid #333;
    width: 100vw;
    margin-top: 20px;
  }

}